# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
# *

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!/ESP8266-Homie-Bad/ESP8266-Homie-Bad.ino

# Ignore folders.


# Ensure these files are ignored, otherwise your secret data/credentials will leak.
Devices.txt